@import '_variables';
@import '_mixins';

.card-learn-item {
  margin: auto;
  position: relative;
  color: $text;
  width: 100%;
  height: 25rem;
  background: $medium;
  border-radius: 0.25rem;
  box-shadow: 5px 5px 5px $dark;
  padding: 2rem;
  font-size: 1.2rem;
  @include for-tablet-portrait-up {
    font-size: 1.5rem;
  }
  p {
    text-align: center;
  }
}
.card-side-indicator {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  font-size: 1rem;
  color: $btnBlue;
  p {
    @include flex-center;
    i {
      margin-right: 0.25rem;
    }
  }
}
.card-learn-text {
  @include flex-center;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  p {
    margin: auto 0;
  }
}
