@import '_variables';
@import '_mixins';

.stack-list {
  text-align: center;
  @include for-tablet-landscape-up {
    max-height: calc(100vh - 7.5rem);
    overflow-y: auto;
  }
}
.stack-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.25s;
  &:hover {
    background: $light;
  }
  p {
    overflow: auto;
    width: 100%;
    padding: 1rem;
  }
}
.selected {
  background: $light;
  border-left: 2px solid $btnBlue;
}
.msg {
  padding: 1rem 0;
}
