@import '_variables';
@import '_modal';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.05rem;
}
a {
  text-decoration: none;
  color: $text;
}
:focus {
  outline: none;
}
input, button {
  &:focus {
    outline: none;
  }
}
button:disabled {
  opacity: 50%;
  pointer-events: none;
}
.fade-in-anim {
  animation: 0.5s fadeIn forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
