@import '../../../styles/lib/variables';
@import '../../../styles/lib/mixins';

section {
  position: relative;
  background: $medium;
  width: 100%;
  height: auto;
  color: $text;
  @include for-tablet-landscape-up {
    width: 20rem;
    height: calc(100vh - 4rem);
  }
}
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $btnBlue;
  padding: 0 1rem;
  height: 3.5rem;
  width: 100%;
  font-size: 1rem;
  text-align: right;
  fa-icon {
    cursor: pointer;
  }
  h3 {
    font-size: 1.1rem;
  }
}
.sidebar-arrows {
  fa-icon {
    transition: 0.25s;
    &:hover {
      color: $medium;
    }
  }
}
.collapsed {
  width: 100%;
}
