<section [class.collapsed]="sidebarCollapsed">

  <div class="sidebar-header" [class.align-items]="sidebarCollapsed">
    <fa-icon icon="layer-group"></fa-icon>
    <h3 *ngIf="listType === 'group'">Gruppen</h3>
    <h3 *ngIf="listType === 'stack'">Stapel</h3>
    <div class="sidebar-arrows">
      <fa-icon icon="arrow-circle-up" *ngIf="!sidebarCollapsed" (click)="collapseSidebar()"></fa-icon>
      <fa-icon icon="arrow-circle-down" *ngIf="sidebarCollapsed" (click)="showSidebar()"></fa-icon>
    </div>
  </div>

  <app-group-list *ngIf="!sidebarCollapsed && listType === 'group'"></app-group-list>

  <app-stack-list *ngIf="!sidebarCollapsed && listType === 'stack'"></app-stack-list>

</section>
