<main>

  <app-add-edit-modal></app-add-edit-modal>

  <app-confirmation-modal [object]="modalService.deleteObject"></app-confirmation-modal>

  <aside>
    <app-sidebar></app-sidebar>
  </aside>

  <div class="stack-container">
    <div class="no-stack-message" *ngIf="stackService.stacks.length === 0">
      <i class="fas fa-info-circle"></i> Keine Stapel vorhanden
    </div>
    <app-stack-item
      *ngFor="let stack of stackService.stacks"
      [stack]="stack">
    </app-stack-item>
  </div>

  <button class="add-stack-btn" (click)="modalService.showAddModal('stack')">
    <i class="fas fa-plus"></i>
  </button>

</main>
