@import '_variables';
@import '_mixins';

main {
  height: calc(100vh - 4rem);
  background: $light;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  @include for-tablet-landscape-up {
    flex-direction: row;
  }
}
aside {
  width: 100%;
  @include for-tablet-landscape-up {
    width: 20rem;
  }
}
.stack-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.25rem;
  overflow: auto;
  @include for-tablet-portrait-up {
    justify-content: flex-start;
  }
  @include for-tablet-landscape-up {
    padding: 2rem;
    width: calc(100vw - 20rem);
  }
}
.add-stack-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2rem;
  padding: 1.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: $btnBlue;
  color: $text;
  transition: 0.25s;
  i {
    font-size: 1.1rem;
  }
  &:hover {
    background: $btnBlueHover;
    transform: scale(1.05);
  }
  @include for-tablet-portrait-up {
    padding: 1.5rem;
  }
}
.no-stack-message {
  text-align: center;
  width: 100%;
  border: 1px solid rgba(255, 192, 0, 0.8);
  background: rgba(232, 174, 17, 0.5);
  padding: 1rem;
  color: $text;
  border-radius: 0.25rem;
}

