<app-data-option-bar
  *ngIf="cards.length > 0"
  (sortedByNameEvent)="sortByQuestionName(cards)"
  (sortedOrderEvent)="changeSortOrder()"
  [sortedDescending]="sortedDescending"
  [sortedByName]="sortedByName" >
</app-data-option-bar>
<div class="cards-container">
  <div class="no-cards-message fade-in-anim" *ngIf="cards.length === 0">
    <fa-icon icon="info-circle"></fa-icon> Keine Karten vorhanden
  </div>
  <app-card-item
    *ngFor="let card of cards"
    [card]="card"
  ></app-card-item>
</div>
