<div class="group-list">

  <app-searchbar
    (searchUpdate)="filterGroups($event)"
    [searchArray]="groups"></app-searchbar>

  <p class="msg" *ngIf="groups.length === 0">Keine Gruppen vorhanden!</p>

  <p class="msg" *ngIf="filteredGroups.length === 0">Kein Suchergebnis!</p>

  <div class="group-item"
       *ngFor="let group of filteredGroups"
       [class.selected]="selectedGroup === group.id"
  >
    <p (click)="selectGroup(group)">{{group.name}}</p>
    <div class="group-item-subnav">
      <i class="fas fa-sort-down"></i>
      <div class="subnav-options">
        <span (click)="editGroup(group)">
          <i class="fas fa-edit" title="Bearbeiten"></i> Bearbeiten
        </span>
        <span (click)="deleteGroup(group)">
          <i class="fas fa-trash" title="Löschen"></i> Löschen
        </span>
      </div>
    </div>
  </div>

</div>
