<div class="group-list">

  <button *ngIf="groupService.groups.length === 0" class="btn btn-blue" (click)="addGroup()">Gruppe hinzufügen</button>

  <div class="group-item"
       *ngFor="let group of groupService.groups"
       [class.selected]="groupService.selectedGroup === group.id"
  >
    <p (click)="selectGroup(group.id)">{{group.name}}</p>
    <div class="group-item-subnav">
      <i class="fas fa-sort-down"></i>
      <div class="subnav-options">
        <span (click)="editGroup(group)">
          <i class="fas fa-edit" title="Bearbeiten"></i> Bearbeiten
        </span>
        <span (click)="deleteGroup(group)">
          <i class="fas fa-trash" title="Löschen"></i> Löschen
        </span>
      </div>
    </div>
  </div>

</div>
