@import '_variables';
@import '_mixins';
@import '_btns';

.group-list {
  text-align: center;
  button {
    width: 90%;
    margin-top: 1rem;
  }
}
.group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.25s;
  &:hover {
    background: $light;
  }
  &:hover .fa-sort-down, &:hover .group-item-subnav {
    display: block !important;
  }
  p {
    overflow: auto;
    width: 100%;
    padding: 1rem;
  }
}
.group-item-subnav {
  display: none;
  position: relative;
  text-align: center;
  padding: 1rem;
  .subnav-options {
    @include flex-center-column;
    display: none !important;
    position: absolute;
    top: 0;
    left: -6rem;
    background: $dark;
    border-radius: 0.25rem;
    z-index: 99;
    i {
      margin-right: 0.5rem;
    }
    @include for-tablet-landscape-up {
      left: 2.7rem;
    }
  }
  span {
    display: flex;
    padding: 0.75rem;
    transition: 0.25s;
    &:hover {
      background: $medium;
    }
  }
  &:hover .fa-sort-down {
    transition: 0.25s;
    color: $btnBlue;
  }
}
.fa-sort-down {
  display: none;
  transform: rotate(270deg);
}
.group-item-subnav {
  &:hover .subnav-options {
    display: block !important;
  }
}
.selected {
  background: $light;
}
