@import '_variables';
@import '_mixins';

.stack-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.25s;
  &:hover {
    background: $light;
  }
  p {
    overflow: auto;
    width: 80%;
    padding: 1rem;
  }
}
.selected {
  background: $light;
}
