@import '_variables';
@import '_mixins';

header {
  width: 100%;
  height: 4rem;
  @include flex-center;
  background-color: $dark;
  color: $text;
  font-size: 1rem;
  @include for-tablet-portrait-up {
    font-size: 1.1rem;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    @include for-tablet-portrait-up {
      justify-content: center;
    }
    a {
      margin: 0 1rem;
      cursor: pointer;
      i {
        font-size: 1.1rem;
        transition: 0.25s;
      }
      &:hover i {
        color: $btnBlue;
      }
      span {
        display: none;
        @include for-tablet-portrait-up {
          display: inline-block;
          margin: 0 0.5rem;
        }
      }
    }
  }
}
.active {
  color: $btnBlue;
}
