@import '_variables';
@import '_mixins';

header {
  width: 100%;
  height: 4rem;
  background-color: $dark;
  color: $text;
  @include flex-center;
  font-size: 1rem;
  box-shadow: 0 1px 0.5vw #cdcdcd;
  @include for-tablet-portrait-up {
    font-size: 1.1rem;
  }
  nav {
    @include flex-center;
    a {
      margin: 0 1rem;
      cursor: pointer;
      i {
        transition: 0.25s;
      }
      &:hover i {
        color: $btnBlue;
      }
    }
  }
}
.active {
  color: $btnBlue;
}
