@import '_variables';
@import '_mixins';

header {
  width: 100%;
  height: 4rem;
  background-color: $dark;
  color: $text;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  @include for-tablet-portrait-up {
    font-size: 1.1rem;
  }
  a {
    margin: 0 1rem;
    cursor: pointer;
    i {
      transition: 0.25s;
    }
    &:hover i {
      color: $btnBlue;
    }
  }
  div {
    margin: 0 1.5rem;
    padding: 0.25rem 0;
    transition: 0.25s;
  }
}
.active {
  color: $btnBlue;
}
