<div class="modal-container" *ngIf="modalService.confirmationModal">
  <div class="modal">

    <div class="modal-header">
      <h2>Aktion bestätigen</h2>
      <i class="fas fa-times-circle" title="Schließen" (click)="cancelAction()"></i>
    </div>

    <div class="modal-body">

      <div class="confirmation-group" *ngIf="modalService.type === 'group'">
        <p class="confirm-bold">Möchten Sie die Gruppe <span>"{{object.name}}"</span> wirklich löschen?</p>
        <p>Alle in dieser Gruppe enthaltenen Stapel werden ebenfalls gelöscht!</p>
        <p class="warning-text"><i class="fas fa-exclamation-triangle"></i> Diese Aktion kann nicht rückgängig gemacht werden!</p>
      </div>
      <div class="confirmation-stack" *ngIf="modalService.type === 'stack'">
        <p class="confirm-bold">Möchten Sie den Stapel <span>"{{object.name}}"</span> wirklich löschen?</p>
        <p>Alle in diesem Stapel enthaltenen Karten werden ebenfalls gelöscht!</p>
        <p class="warning-text"><i class="fas fa-exclamation-triangle"></i> Diese Aktion kann nicht rückgängig gemacht werden!</p>
      </div>
      <div class="confirmation-card" *ngIf="modalService.type === 'card'">
        <p class="confirm-bold">Möchten Sie die Karte wirklich löschen?</p>
        <p class="warning-text"><i class="fas fa-exclamation-triangle"></i> Diese Aktion kann nicht rückgängig gemacht werden!</p>
      </div>

    </div>

    <div class="modal-footer">
      <div class="confirm-btns">
        <button (click)="confirmAction()" class="btn btn-blue">Ja</button>
        <button (click)="cancelAction()" class="btn btn-outline-red">Abbrechen</button>
      </div>
    </div>

  </div>
</div>
