<form class="app-form" (ngSubmit)="submitForm()" [formGroup]="cardForm">

  <label>
    <span>Stapel:</span>
    <select formControlName="inStack">
      <option *ngFor="let stack of stackOptions" [value]="stack.id">{{stack.name}}</option>
    </select>
  </label>

  <div class="form-error" *ngIf="inStack.invalid && inStack.touched">
    <div class="form-error-message" *ngIf="inStack.errors?.required">
      <i class="fas fa-exclamation-circle"></i> Stapel zuweisen
    </div>
  </div>

  <label>
    <span>Frage:</span>
    <textarea type="text" formControlName="question" rows="5" required></textarea>
  </label>

  <div class="form-error" *ngIf="question.invalid && (question.dirty || question.touched)">
    <div class="form-error-message" *ngIf="question.errors?.required">
      <i class="fas fa-exclamation-circle"></i> Frage benötigt
    </div>
  </div>

  <label>
    <span>Antwort:</span>
    <textarea type="text" formControlName="answer" rows="5" required></textarea>
  </label>

  <div class="form-error" *ngIf="answer.invalid && (answer.dirty || answer.touched)">
    <div class="form-error-message" *ngIf="answer.errors?.required">
      <i class="fas fa-exclamation-circle"></i> Antwort benötigt
    </div>
  </div>

  <div class="form-btns">
    <button class="btn btn-blue" type="submit" [disabled]="!cardForm.valid" *ngIf="!modalService.editMode">Hinzufügen</button>
    <button class="btn btn-blue" type="submit" [disabled]="!cardForm.valid" *ngIf="modalService.editMode">Speichern</button>
  </div>

</form>
