<form class="app-form" (ngSubmit)="submitForm()" #cardForm="ngForm">

  <label>
    <span>Stapel:</span>
    <select [(ngModel)]="card.inStack" name="inStack" #inStack="ngModel" >
      <option *ngFor="let stack of stackOptions" [value]="stack.id">{{stack.name}}</option>
    </select>
  </label>

  <div class="form-error" *ngIf="inStack.invalid && (inStack.dirty || inStack.touched)">
    <div class="form-error-message" *ngIf="inStack.errors?.required">
      <i class="fas fa-exclamation-circle"></i> Stapel zuweisen
    </div>
  </div>

  <label>
    <span>Frage:</span>
    <textarea type="text" rows="5" [(ngModel)]="card.question" name="question" #question="ngModel" required></textarea>
  </label>

  <div class="form-error" *ngIf="question.invalid && (question.dirty || question.touched)">
    <div class="form-error-message" *ngIf="question.errors?.required">
      <i class="fas fa-exclamation-circle"></i> Frage benötigt
    </div>
  </div>

  <label>
    <span>Antwort:</span>
    <textarea type="text" rows="5" [(ngModel)]="card.answer" name="answer" #answer="ngModel" required></textarea>
  </label>

  <div class="form-error" *ngIf="answer.invalid && (answer.dirty || answer.touched)">
    <div class="form-error-message" *ngIf="answer.errors?.required">
      <i class="fas fa-exclamation-circle"></i> Antwort benötigt
    </div>
  </div>

  <div class="form-btns">
    <button class="btn btn-blue" type="submit" [disabled]="!cardForm.valid" *ngIf="type === 'add'">Hinzufügen</button>
    <button class="btn btn-blue" type="submit" [disabled]="!cardForm.valid" *ngIf="type === 'edit'">Speichern</button>
  </div>

</form>
