@import '_variables';
@import '_mixins';

.add-data-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    background: transparent;
    border: 2px solid $light;
    color: $text;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    @include for-tablet-portrait-up {
      padding: 0.5rem 2rem;
    }
  }
}
.selected-btn {
  background: $btnBlue !important;
}
