@import '_variables';
@import '_mixins';

.cards-container {
  width: 100%;
  padding: 0.25rem;
  overflow: auto;
  @include for-tablet-landscape-up {
    padding: 1rem;
    width: calc(100vw - 20rem);
  }
}
.no-cards-message {
  text-align: center;
  width: 100%;
  border: 1px solid rgba(255, 192, 0, 0.8);
  background: rgba(232, 174, 17, 0.5);
  padding: 1rem;
  color: $text;
  border-radius: 0.25rem;
}
