<div class="modal-container" *ngIf="modalService.addEditModal">
  <div class="modal">

    <div class="modal-header">
      <h2 *ngIf="!modalService.editMode">Hinzufügen</h2>
      <h2 *ngIf="modalService.editMode">Bearbeiten</h2>
      <i class="fas fa-times-circle" title="Schließen" (click)="modalService.handleClose()"></i>
    </div>

    <div class="modal-body">

      <div class="selected-item" *ngIf="!modalService.editMode">
        <button
          [class.selected]="modalService.type === 'group'"
          (click)="modalService.setModalType('group')">Gruppe
        </button>
        <button
          [class.selected]="modalService.type === 'stack'"
          (click)="modalService.setModalType('stack')">Stapel
        </button>
        <button [class.selected]="modalService.type === 'card'"
                (click)="modalService.setModalType('card')">Karte
        </button>
      </div>

      <div *ngFor="let alert of alertService.activeAlerts">
        <app-alert [alert]="alert" [type]="alert.type" [message]="alert.message"></app-alert>
      </div>

      <app-group-form *ngIf="modalService.type === 'group'"></app-group-form>

      <app-stack-form *ngIf="modalService.type === 'stack'"></app-stack-form>

      <app-card-form *ngIf="modalService.type === 'card'"></app-card-form>

    </div>
  </div>
</div>
