@import '_variables';
@import '_mixins';
@import '_modal';

.selected-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  button {
    padding: 0.25rem 1rem;
    background: transparent;
    border: 2px solid $light;
    border-radius: 0.25rem;
    color: $text;
    cursor: pointer;
  }
}
.selected {
  background: $btnBlue !important;
}
