<main
  tabindex="0"
  (keyup.arrowUp)="toggleCard(!showAnswer)"
  (keyup.arrowDown)="toggleCard(!showAnswer)"
  (keyup.arrowLeft)="showPreviousCard()"
  (keyup.arrowRight)="showNextCard()" >
  <div class="learn-container fade-in-anim">

    <div class="no-cards-message" *ngIf="cards.length === 0">
      <fa-icon icon="info-circle"></fa-icon> Keine Karten in diesem Stapel vorhanden!
      <a routerLink="/">Karte hinzufügen</a>
    </div>

    <section class="learn-content" *ngIf="cards.length > 0">

      <div class="learn-info">
        <div class="tooltip tooltip-keys">
          <fa-icon icon="keyboard" title="Tastenbkombinationen"></fa-icon>
          <div class="tooltiptext">
            <p>
              Weiter <fa-icon icon="long-arrow-alt-right"></fa-icon>
            </p>
            <p>
              Zurück <fa-icon icon="long-arrow-alt-left"></fa-icon>
            </p>
            <p>
              Umdrehen
              <span>
                <fa-icon icon="long-arrow-alt-up"></fa-icon>
                <fa-icon icon="long-arrow-alt-down"></fa-icon>
              </span>
            </p>
          </div>
        </div>
      </div>

      <app-card-learn-item
        (toggleCardEvent)="toggleCard($event)"
        [showAnswer]="showAnswer"
        [question]="cards[currentCardIndex].question"
        [answer]="cards[currentCardIndex].answer">
      </app-card-learn-item>

      <div class="learn-toolbar">
        <fa-icon icon="chevron-left" (click)="showPreviousCard()" [class.disabled]="currentCardIndex === 0"></fa-icon>
        <p>{{currentCardIndex + 1}}/{{cards.length}}</p>
        <fa-icon icon="chevron-right" (click)="showNextCard()"></fa-icon>
      </div>

    </section>

  </div>
</main>
