<form class="app-form" (ngSubmit)="submitForm()" [formGroup]="stackForm">

  <label>
    <span>Name:</span>
    <input type="text" formControlName="name" required>
  </label>

  <div class="form-error" *ngIf="name.invalid && (name.dirty || name.touched)">
    <div class="form-error-message" *ngIf="name.errors?.required">
      <i class="fas fa-exclamation-circle"></i> Name benötigt
    </div>
  </div>

  <label>
    <span>Gruppe:</span>
    <select formControlName="inGroup">
      <option *ngFor="let group of groupService.groups" [value]="group.id">{{group.name}}</option>
    </select>
  </label>

  <div class="form-error" *ngIf="inGroup.invalid && inGroup.touched">
    <div class="form-error-message" *ngIf="inGroup.errors?.required">
      <i class="fas fa-exclamation-circle"></i> Gruppe zuweisen
    </div>
  </div>

  <div class="form-btns">
    <button class="btn btn-blue" type="submit" [disabled]="!stackForm.valid" *ngIf="!modalService.editMode">Hinzufügen</button>
    <button class="btn btn-blue" type="submit" [disabled]="!stackForm.valid" *ngIf="modalService.editMode">Speichern</button>
  </div>

</form>
