@import '_variables';

.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text;
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.25rem;
}
.success-alert {
  border: 1px solid #1ba11b;
  background: #1c5e1c;
}
.error-alert {
  border: 1px solid #b82121;
  background: #702121;
}
