@import '_variables';

.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 1rem 0;
}
.success-alert {
  border: 1px solid #1ba11b;
  background: #1ba11b80;
}
.error-alert {
  border: 1px solid #b82121;
  background: #b8212180;
}
