@import '_variables';
@import '_mixins';

main {
  height: calc(100vh - 4rem);
  background: $light;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
  @include for-tablet-landscape-up {
    flex-direction: row;
  }
}
aside {
  width: 100%;
  @include for-tablet-landscape-up {
    width: 20rem;
  }
}
