@import '_variables';
@import '_mixins';

section {
  position: relative;
  background: $medium;
  width: 100%;
  height: auto;
  color: $text;
  @include for-tablet-landscape-up {
    width: 20rem;
    height: calc(100vh - 4rem);
  }
}
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $btnBlue;
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  text-align: right;
  i {
    cursor: pointer;
  }
}
.sidebar-arrows {
  i {
    transition: 0.25s;
    &:hover {
      color: $medium;
    }
  }
}
.collapsed {
  width: 100%;
}
.info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid $light;
  font-size: 0.9rem;
  padding: 0.75rem;
  text-align: center;
  display: flex;
  justify-content: center;
  i {
    margin-right: 0.5rem;
  }
}
