<section [class.collapsed]="sidebarCollapsed">

  <div class="sidebar-header" [class.align-items]="sidebarCollapsed">
    <i class="fas fa-layer-group"></i>
    <h3>Gruppen</h3>
    <div class="sidebar-arrows">
      <i class="fas fa-arrow-circle-up" *ngIf="!sidebarCollapsed" (click)="collapseSidebar()"></i>
      <i class="fas fa-arrow-circle-down" *ngIf="sidebarCollapsed" (click)="showSidebar()"></i>
    </div>
  </div>

  <app-group-list (errorEvent)="showStackError($event)" *ngIf="!sidebarCollapsed"></app-group-list>

</section>
