<div class="group-list">

  <app-searchbar
    (searchUpdate)="filterGroups($event)"
    [searchArray]="groups"></app-searchbar>

  <p class="msg" *ngIf="groups.length === 0">
    <i class="fas fa-info-circle"></i>
    Keine Gruppen vorhanden
  </p>

  <p class="msg" *ngIf="filteredGroups.length === 0 && groups.length !== 0">
    <i class="fas fa-info-circle"></i>
    Kein Suchergebnis
  </p>

  <div class="group-item"
       *ngFor="let group of filteredGroups"
       [class.selected]="selectedGroup === group.id" >
    <p (click)="selectGroup(group)">{{group.name}}</p>
    <div class="group-item-actions">
      <i class="fas fa-edit" (click)="editGroup(group)" title="Bearbeiten"></i>
      <i class="fas fa-trash" (click)="deleteGroup(group)" title="Löschen"></i>
    </div>
  </div>

</div>
