@import '_variables';
@import '_mixins';
@import '_btns';

.group-list {
  text-align: center;
  @include for-tablet-landscape-up {
    max-height: calc(100vh - 7.5rem);
    overflow-y: auto;
  }
}
.group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.25s;
  &:hover {
    background: $light;
  }
  &:hover .group-item-actions {
    display: flex !important;
  }
  p {
    overflow: auto;
    width: 100%;
    padding: 1rem;
  }
}
.group-item-actions {
  display: none;
  align-items: center;
  justify-content: center;
  fa-icon {
    margin-right: 0.35rem;
    &:hover {
      color: $btnBlue;
    }
  }
}
.selected {
  background: $light;
  border-left: 3px solid $btnBlue;
}
.msg {
  padding: 1rem 0;
}
