<div class="group-list">

  <app-searchbar
    (searchUpdate)="filterGroups($event)"
    [searchArray]="groups"></app-searchbar>

  <p class="msg" *ngIf="groups.length === 0">
    <fa-icon icon="info-circle"></fa-icon>
    Keine Gruppen vorhanden
  </p>

  <p class="msg" *ngIf="filteredGroups.length === 0 && groups.length !== 0">
    <fa-icon icon="info-circle"></fa-icon>
    Kein Suchergebnis
  </p>

  <div class="group-item"
       *ngFor="let group of filteredGroups"
       [class.selected]="selectedGroup === group.id" >
    <p (click)="selectGroup(group)">{{group.name}}</p>
    <div class="group-item-actions">
      <fa-icon icon="edit" (click)="editGroup(group)" title="Bearbeiten"></fa-icon>
      <fa-icon icon="trash" (click)="deleteGroup(group)" title="Löschen"></fa-icon>
    </div>
  </div>

</div>
