<form class="app-form" (ngSubmit)="submitForm()" #groupForm="ngForm">

  <label>
    <span>Name:</span>
    <input type="text" [(ngModel)]="group.name" name="name" #name="ngModel" autocomplete="off" required >
  </label>

  <div class="form-error" *ngIf="name.invalid && (name.dirty || name.touched)">
    <div class="form-error-message" *ngIf="name.errors?.required">
      <fa-icon icon="exclamation-circle"></fa-icon> Name benötigt
    </div>
  </div>

  <div class="form-btns">
    <button class="btn btn-blue" type="submit" [disabled]="!groupForm.valid" *ngIf="type === 'add'">Hinzufügen</button>
    <button class="btn btn-blue" type="submit" [disabled]="!groupForm.valid" *ngIf="type === 'edit'">Speichern</button>
  </div>

</form>
